<section class="website-frames">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div class="frame-box">
          <img src="../../../../../../assets/images/download-icon.png" alt="download icon" />
          <strong class="d-block">Download Forms <i class="fa fa-angle-right secondary-color font-weight-bold"></i></strong>
          <p>Get easy access to all the forms you might need</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div class="frame-box">
          <img src="../../../../../../assets/images/money-icon.png" alt="money icon" />
          <strong class="d-block">Jargon Simplified <i class="fa fa-angle-right secondary-color font-weight-bold"></i></strong>
          <p>Get easy access to all the forms you might need</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div class="frame-box">
          <img src="../../../../../../assets/images/books-icon.png" alt="books icon" />
          <strong class="d-block">Factsheets <i class="fa fa-angle-right secondary-color font-weight-bold"></i></strong>
          <p>Get easy access to all the forms you might need</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div class="frame-box">
          <img src="../../../../../../assets/images/whatsapp-icon.png" alt="whatsapp icon" />
          <strong class="d-block">Whatsapp Bot <i class="fa fa-angle-right secondary-color font-weight-bold"></i></strong>
          <p>Get easy access to all the forms you might need</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div class="frame-box">
          <img src="../../../../../../assets/images/easy-link-icon.png" alt="easy link icon" />
          <strong class="d-block">Easy Link <i class="fa fa-angle-right secondary-color font-weight-bold"></i></strong>
          <p>Get easy access to all the forms you might need</p>
        </div>
      </div>

    </div>
  </div>
</section>
