<section class="banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-7">
        <div class="text-part">
          <h1>Manage your business on the go.</h1>
          <p>Track your clients portfolio, get real time updates and stay connected using our portal designed to cater to your needs.</p>
          <div class="points_boxes">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="small-boxes">
                  <img src="../../../../../../assets/images/clock.png" alt="clock" />
                  <span class="d-block">Real Time<br />Transaction Status</span>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="small-boxes">
                  <img src="../../../../../../assets/images/graph.png" alt="graph" />
                  <span class="d-block">Insights for your<br />clients & business</span>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="small-boxes">
                  <img src="../../../../../../assets/images/pointer.png" alt="pointer" />
                  <span class="d-block">Paperless Onboarding<br />& Transactions</span>
                </div>
              </div>
            </div>
          </div>
          <div class="account-wrapper">
            <a href="#" class="btn btn-primary medium-button">Sign up</a>
            Already have an account with us?
            <a href="#" class="btn btn-link">Login</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-5 pr-0 text-right">
        <figure>
          <img src="../../../../../../assets/images/computer.png" alt="computer" class="w-100 computer-graphic">
        </figure>
      </div>
    </div>
  </div>
</section>
