<section class="empanel">
  <div class="container semi-container">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-8">
        <div class="left_texture">
          <h2>Empanel with us</h2>
          <p>Partner with the #1 Mutual Fund AMC in the country. You can choose to empanel with us offline or online.</p>
          <div class="emapanel_actions">
            <ul class="list-inline">
              <li class="list-inline-item"><button class="btn btn-white medium-button">Empanel Online</button></li>
              <li class="list-inline-item"><button class="btn btn-link medium-button">Empanel Offline</button></li>
            </ul>
          </div>
          <small class="d-block note">* Online Empanellment is only for Individual Distributors</small>
        </div>
      </div>
      <div>
        <div class="right_texture">
          <ul>
            <li>
              <div>
                <span>Enter your ARN</span>
                <p>Verify your ARN code with us</p>
              </div>
            </li>
            <li>
              <div>
                <span>Verify your Details</span>
                <p>A one time verification for your distributor profile</p>
              </div>
            </li>
            <li>
              <div>
                <span>Submit for Empanelment</span>
                <p>We will review your application and get back to you</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
